// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {transition: all 0.4s ease; }
ion-header { background-color: #0d435c; border-color: #092e3f; height: 52px;
    .toolbar { position: fixed; }
}
ion-navbar.desktop-navbar { background-color: #0d435c; min-height: 50px; transform:none; padding: 0; position: absolute; right: 0; top: 0;
    .toolbar-content { float: right;
        .item { float: left; padding: 18px 35px; color: #fff; background: transparent; width: auto; min-height: 0; font-size: 14px; 
            .item-inner { border-bottom: none; padding-right: 0; }
            ion-label.label { margin: 0; }
        }
        .item.activated, .item:nth-child(1) { background: #092e3f; }
        .item:nth-last-child(1) { background: #0e89bc; }
    }
}

.toolbar { padding: 0; width: auto; }
.toolbar[padding-vertical] { padding-top: 16px; padding-bottom: 16px; }
.toolbar-background { background: transparent; border: none; }
.toolbar-title { color: #fff; padding: 0; }
ion-content {
    .scroll-content { padding: 0!important; }
}
ion-card.card { margin: 0; width: calc(100%); }



/**************Common Classes***********/
.hide { display: none !important; }
[pull-left] { float: left !important; }
[pull-right] { float: right !important; }
[white] { color: #fff !important; }
[light-blue] { background: #dae7ea !important; }
[light-gray] { background: #f1f1f1 !important; }
.enable-hover a:hover { opacity: 1; }
[pos-relative] { position: relative !important; }
[overlay] { background: #252525!important; height: 100%; left: 0; opacity: 0.8; position: absolute; top: 0; width: 100%; z-index: 1; }
[overlay-content] { position: relative; z-index: 2; }
.button { background-color: #36b0fd; border-radius: 0; }
:root .button:hover { background-color: #092e3f; }
[inline-block] { display: inline-block !important; }






@media all and (min-width:769px){ 
    ::-webkit-scrollbar {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        border: solid whiteSmoke 4px;
        border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 100px;
    }
    .bar-button-menutoggle, [visible-xs] { display: none; }
}

@media all and (max-width:768px){  
    [hidden-xs] { display: none !important; }
    ion-header ion-toolbar.toolbar { position: static; float: left; width: 225px;}
    ion-header .desktop-navbar { position: absolute; }
    ion-header ion-toolbar.toolbar ion-title { position: static; height: auto; width: auto; padding: 0; }
}

/*arrow pointing down animation*/
@-webkit-keyframes gone-before { 
 0% {  -webkit-transform: translateY(0); transform: translateY(0); }
50% { -webkit-transform: translateY(20px); transform: translateY(20px); }
75% { -webkit-transform: translateX(0); transform: translateX(0); } }

@-moz-keyframes gone-before {
 0% { -moz-transform: translateY(0); transform: translateY(0); }
50% { -moz-transform: translateY(20px); transform: translateY(20px); }
75% { -moz-transform: translateX(0); transform: translateX(0); } }

@-o-keyframes gone-before {
 0% { transform: -o-translateY(0); }
50% { transform: -o-translateY(20px); }
75% { transform: -o-translateX(0); } }

@keyframes gone-before {
0% { transform: translateY(0); }
50% { transform: translateY(20px); }
75% { transform: translateX(0); } }




